/* General setup */

* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  padding: 0 20px;
  min-width: 980px;
  max-width: 1400px;
  font-family: 'Merriweather';
}

/* Layout */

main {
  display: grid;
  grid-template-columns: 5fr 2fr 2fr;
  gap: 40px;
  padding: 20px 0;
}

/* header and footer */

header {
  border-bottom: 5px solid #aa6666;
}

footer {
  border-top: 5px solid #aa6666;
}

footer p {
  text-align: center;
}

h1 {
  font-family: 'Montserrat';
  font-size: 3rem;
  text-align: center;
  letter-spacing: 0.05em;
}

h2 {
  font-family: 'Montserrat';
  font-size: 2rem;
  margin-bottom: 0%;
  letter-spacing: 0.05em;
}

p:first-of-type {
  line-height: 1.7;
  text-indent: 2rem;
}

a {
  color: rosybrown;
  outline: none;
}

a:visited {
  color: #BC8F8F;
}

a:focus, a:hover {
  color: #7A4C4C;
  text-decoration: none;
}

a[href*="http"] {
  background: url("external-link-52.png");
  background-repeat: no-repeat;
  background-position: right;
  background-size:contain;
  padding-right: 1.5em;
}