/*
Name: Ryan Sami Salim Makarem
File: style.css
Date: 8th December 2025
This files purpose is to solve a number of accessibility issues
*/

/* || General setup */
html {
  font-size: 10px;
  background-color: #dcdcf0; 
}

body {
  width: 80%;
  min-width: 1024px;
  margin: 0 auto;
}

.skip-link {
  position: absolute;
  top: -40px;
  left: 0;
  background: #000;
  color: #fff;
  padding: 8px;
}

.skip-link:focus {
  top: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
}

h1, h2, h3, h4 {
  font-family: 'Sonsie One', cursive;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 2.4rem;
}

h4 {
  font-size: 2rem;
}

p, li, table, label, figcaption, input {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 1.6rem;
  color: #000;
}

header {
  background: transparent; 
}

h1 {
  font-size: 4rem;
  text-align: center;
  color: white;
  text-shadow: 2px 2px 6px #555;
}

article h2,
aside h2 {
  font-size: 2.6rem;
  color: #000;
}

article h2,
.secondary > h2 {
  text-align: center;
}

article h3 {
  font-size: 2rem;
  color: #000;
}

nav {
  background: #fff;
  border-bottom: 2px solid #ccc;
  display: flex;
  padding: 1rem 0;
}

nav ul {
  list-style: none;
  display: flex;
  flex: 2;
}

nav li {
  flex: 1;
  text-align: center;
}

nav a {
  text-decoration: none;
  font-size: 2rem;
  color: #333;
}

.search {
  flex: 1;
  display: flex;
  align-items: center;
}

.search input {
  font-size: 1.6rem;
  height: 32px;
}

.search input[type="submit"] {
  background: #333;
  color: #fff;
  border: none;
  margin-left: 1rem;
}

main {
  display: flex;
  margin-top: 10px;
}

article {
  flex: 5;
  background: #fff;
  padding: 20px;
  margin-right: 10px;
}

.secondary {
  flex: 2;
  background: #fff; 
  padding: 20px;
}

table {
  width: 100%;
  background: #fff;
  border-collapse: collapse;
}

th, td {
  padding: 10px;
  text-align: center;
}

tbody tr:nth-child(odd) {
  background: #f2f2fa;
}

img, audio {
  display: block;
  margin: 20px auto;
}

.comments {
  background: #f2f2fa;
  padding: 10px;
  display: none;
}

.show-hide {
  width: 150px;
  margin: 10px auto;
  display: block;
  background: #333;
  color: white;
  border: none;
  font-size: 1.6rem;
  cursor: pointer;
}

.comment-form .flex-pair {
  display: flex;
  margin-bottom: 10px;
}

.comment-form label {
  flex: 2;
  text-align: right;
}

.comment-form input {
  flex: 6;
  margin-left: 10px;
}

.comment-form input[type="submit"] {
  width: 40%;
  margin: 0 auto;
  display: block;
}

footer {
  background: #fff;
  padding: 10px;
  margin-top: 10px;
}
